services:
  database:
    volumes:
      - prod-postgres-data:/var/lib/postgresql/data

  frontend:
    build:
      args:
        NEXT_PUBLIC_BACKEND_URL: <IP or url>/backend-api # Change this to match your domain or IP
    environment:
      NEXTAUTH_URL: <IP or url> # Change this to match your domain or IP

  nginx:
    volumes:
      - ./nginx.prod.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  prod-postgres-data:
    external: true
